Gemfile.lock
.project
.chef
.arcconfig
**/.DS_Store
.rspec
.DS_Store

# Intellij IDEA
.idea
.iml

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
